<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Home</title>
  </head>
  <body>
    <h1>Welcome to the Admin Home Page!</h1>
    <p>Hello, Admin. You have full access to manage the application.</p>

    <ul>
      <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
      <li><a href="{{ url_for('view_expenses') }}">view expenses</a></li>
      <li><a href="{{ url_for('add_expense') }}">Add Expense</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
  </body>
</html>
