<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <h1>Your Users</h1>
    <table border="1">
      <thead>
        <tr>
          <th>name</th>
          <th>username</th>
          <th>salary</th>
          <th>Salary - Expenses</th>
          <th>role</th>
          <th>Delete User</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user[1] }}</td>
          <td>{{ user[2] }}</td>
          <td>{{ user[4] }}</td>
          <td>{{ user[3] }}</td>
          <td>{{ user[6] }}</td>
          <td><form action="{{ url_for('delete_user', id=user[0]) }}" method="POST">
            <button type="submit">Delete User</button>
          </form></td>
          <!-- <td>
            {% if user[4] %}
            <a href="{{ url_for('static', filename=user[4]) }}" target="_blank"
              >View Receipt</a
            >
            {% else %} No Receipt {% endif %}
          </td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <a href="{{ url_for('user_input') }}">Add User</a>
    <a href="{{ url_for('admin_home') }}">Back to Home</a>
  </body>
</html>
